.mobilenav-wrapper {
  position: absolute;
  top: 63px;
  width: 100%;
  background-color: #1a212e;
}

.mobilenav-wrapper[hidden] {
  display: none;
}

.mobilenavlinks {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
  padding: 20px;
  list-style: none;
}

.mobilenavlink {
  text-align: left;
}

.mobilenavlink a {
  display: block;
  padding: 10px 0;
  text-align: left;
  font-size: larger;
}
